{% extends "base.html" %}
{% load crispy_forms_tags %}}


{% block content %}

<div class="row col-md-6">
  <div class="row">
    <div class="col-md-6">
      <form method="post" action="">{% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Calculate">
      </form>
      <div>
        <a class="btn btn-default" href="#" role="button">{{result}}</a>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <td>Валута</td>
        <td>Код</td>
        <td>За единици валута</td>
        <td>Лева</td>
        <td>За 1 лев</td>
      </tr>
      </thead>
      <tbody>
      {% for currency in currency_list %}
      <tr>
        <td>{{currency.name}}</td>
        <td>{{currency.code}}</td>
        <td>{{currency.units}}</td>
        <td>{{currency.cost_leva}}</td>
        <td>{{currency.reverse_cost}}</td>
      </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
